.card_container {
  background-color: grey !important;
  height: 80vh;
  overflow: scroll;
  width: 30vw;
  padding-right: 0;
}

.card_img {
  height: auto;
  width: 50px;
}

.fav_button {
  margin-left: 35%;
  margin-top: 2%;
  width: 30%;
  height: 40px;
}

.link_style {
  color: white;
  /* cursor: pointer; */
}
.link_style:hover {
  text-decoration: none;
  color: white;
  /* cursor: pointer; */
}
